@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');


.container {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#smallEmail {
    color: red;
    font-family: -apple-system, -apple-system,
        BlinkMacSystemFont, 'Segoe UI', Roboto,
        Oxygen, Ubuntu, Cantarell, 'Open Sans',
        'Helvetica Neue', sans-serif;
}

.left_section {
    width: 47%;
    height: 100vh;
    background-color: #F7F7F7;
    padding: 3% 3% 0% -3%;
    display: inline-block;

}

.inline_frame {
    box-shadow: 2px 2px 2px #BEBEBE, -2px -2px 2px #BEBEBE;
    border-radius: 10px;
    padding: 20px;
    background-color: #FFFFFF;
    margin: 15% 15% 3% 15%;

}

#inline_frame2 {
    margin: 25% 15% 15% 15%;
    padding: 20px;
}

#section_button {
    text-align: end;
}

.right_section {
    width: 53%;
    height: 100vh;
    display: inline-block;
    text-align: left;
    vertical-align: top;
    opacity: 0.8;
    background: url('https://w0.peakpx.com/wallpaper/13/675/HD-wallpaper-blur-background-blur-natureblur-new-york.jpg');
    background-size: cover;
    color: #FFFFFF;
}

.input_text,
.input_text:focus {
    border: none;
    width: 100%;
    background-color: #FFFFFF;
    font-size: 20px;
    font-family: -apple-system, -apple-system,
        BlinkMacSystemFont, 'Segoe UI', Roboto,
        Oxygen, Ubuntu, Cantarell, 'Open Sans',
        'Helvetica Neue', sans-serif;

}

.footer_left_section {
    margin: -6% 15%;
    padding-top: 0;
    color: #A1A1A1;
    display: inline-block;
    font-family: -apple-system, -apple-system,
        BlinkMacSystemFont, 'Segoe UI', Roboto,
        Oxygen, Ubuntu, Cantarell, 'Open Sans',
        'Helvetica Neue', sans-serif;
    font-size: 12px;
}

#terms,
#privacy,
#dotted {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    margin-left: 3pt;
    cursor: help;
}

#dotted {
    vertical-align: 2px;
    font-size: 16px;
}

a {

    text-decoration: none !important;
    color: #A1A1A1;
}


#emailLabel,
#pass {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    color: #BEBEBE;

}


input:focus {
    outline: none;
    background-color: #FFFFFF;

}

#h1_1 {
    font-family: 'Open Sans', sans-serif;
    color: #757575;
}

#text_right_section {
    font-size: 14px;
    font-family: -apple-system, -apple-system,
        BlinkMacSystemFont, 'Segoe UI', Roboto,
        Oxygen, Ubuntu, Cantarell, 'Open Sans',
        'Helvetica Neue', sans-serif;
}

#button_signup {
    background-color: #4A90E2;
    color: #FFFFFF;
    border: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    padding: 6px 20px;
    border-radius: 5px;
    position: relative;
    margin-block-start: 0.5cm;
    cursor: pointer;
    width: 120px;
    height: 40px;
    text-align: center;
}

#button_signup:hover {

    background-color: #757575;
    color: #FFFFFF;
    width: 150px;
    transition: 0.8s ease-in-out;
}

#subtext {
    font-family: 'Open Sans', sans-serif;
    color: #A1A1A1;
    letter-spacing: 1pt;
}

#check_label {
    font-family: -apple-system, -apple-system,
        BlinkMacSystemFont, 'Segoe UI', Roboto,
        Oxygen, Ubuntu, Cantarell, 'Open Sans',
        'Helvetica Neue', sans-serif;
    color: #A1A1A1;

}

#remember_me {
    width: 0.8em;
    height: 0.8em;
    background-color: #FFFFFF;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #A1A1A1;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;

}

#remember_me:checked {
    background-color: #4A90E2;
}

hr {
    border-top: 1px solid #A1A1A1;
    border-bottom: none;
    border-left: none;
    border-right: none;
    border-radius: 10px;

}

#right_h2 {
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
}

#login {
    width: 120px;
    height: 40px;
    color: #FFFFFF;
    border: 3px solid #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    padding: 6px 20px;
    border-radius: 5px;
    position: relative;
    background: url('https://w0.peakpx.com/wallpaper/13/675/HD-wallpaper-blur-background-blur-natureblur-new-york.jpg');
    text-align: center;
    cursor: pointer;
    margin-top: 15px;


}

#login:hover {
    background-image: none;
    background-color: #757575;
    color: #FFFFFF;
    border-style: solid;
    border-width: 0.5pt;
    width: 150px;
    transition: 1s ease-in-out;
}


/*--------------- eye slash ------------------------------*/
i {
    position: absolute;
    margin-left: 94%;
    transform: translateY(-15px);
    cursor: pointer;
    color: lightgrey;
}

.eyeDiv {
    position: relative;
}



/*------------------ responsive -------------------*/
@media screen and (max-width:1066px) {
    .left_section {
        width: 100%;
    }

    .right_section {
        width: 100%;
    }

    .left_section {
        width: 100%;
        height: 100vh;
    }

    .right_section {
        width: 100%;
        height: 100vh;

    }
}




.indicator-container {
    margin: .5rem 0;
    width: 100%;
    height: 5px;
    background-color: rgba(255, 255, 255, .1);
    border-radius: 10vw;
    overflow: hidden;
}
.indicator {
    width: 0;
    height: 100%;
    background-color: #ff0000;
    transition: 500ms ease-in-out width;
}


