<div class="container">
  <div class="row">
    <div class="left_section">
      <div>
        <h2>Welcome to Acme.</h2>
        <p>Create your account by filing the form below.</p>
        <label for="">E-mail</label>
        <input type="email" name="email" id="email">
        <hr>
        <label for="password">Password</label>
        <input type="password" name="password" id="password">
        <hr>
        <input type="checkbox" name="remember_me" id="remember_me" checked>
        <label for="remember_me">Remember me.</label>
        <input type="submit" value="Sign up">
      </div>
      <small>&copy;2015 Acme, Inc. <span id="terms">Terms</span> <span id="privacy">Privacy</span><span
          id="dotted">...</span></small>
    </div>
    <div class="right_section">

    </div>
  </div>
</div>
<router-outlet></router-outlet>