<div class="container">
  <div class="row">
    <div class="left_section">
      <div class="inline_frame">
        <h2>Welcome to Acme.</h2>
        <p>Create your account by filing the form below.</p>
        <label for="">E-mail</label>
        <input type="email" name="email" id="email">
        <hr>
        <label for="password">Password</label>
        <input type="password" name="password" id="password">
        <hr>
        <input type="checkbox" name="remember_me" id="remember_me" checked>
        <label for="remember_me">Remember me.</label>
        <input type="submit" value="Sign up">
      </div>
      <div class="footer_left_section">
        <small>&copy;2015 Acme, Inc. <span id="terms">Terms</span> <span id="privacy">Privacy</span><span
            id="dotted">...</span></small>
      </div>
    </div>
    <div class="right_section">
      <img src="" alt="acme" title="acme">
      <h2>Do you already have an account?</h2>
      <p id="text_right_section">That's awesome! You can login by clicking on the button below. To skip this next time,
        you can ask us to remember your login credentials.</p>
      <input type="button" value="Log in">
    </div>
  </div>
</div>
<router-outlet></router-outlet>